<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>机构概况</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap-table/bootstrap-table.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
</head>
<body class="app">
    <!-- Navbar-->
    <header class="app-header">
        <div sec:authorize="isAuthenticated()" style="margin-top: 15px; margin-left: 80px">
            <i class="app-menu__icon fa fa-user-circle-o fa-lg"></i><span id="operator" class="app-sidebar__user-name" sec:authentication="name"></span>
        </div>
        <h3 style="margin-left: 500px; margin-top: 10px">欢迎使用垃圾分类在线查询平台</h3>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <!-- User Menu-->
            <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="/index"><i class="fa fa-home fa-lg"></i> 主页</a></li>
                    <li sec:authorize = "hasAuthority('ROLE_ADMIN')"><a class="dropdown-item" href="/user/index"><i class="fa fa-home fa-lg"></i> 管理页面</a></li>
                    <li sec:authorize = "hasAuthority('ROLE_DBA')"><a class="dropdown-item" href="/user/index"><i class="fa fa-home fa-lg"></i> 管理页面</a></li>
                    <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" href="/login"><i class="fa fa-sign-in fa-lg"></i> 登录</a></li>
                    <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" href="/register"><i class="fa fa-registered fa-lg"></i> 注册</a></li>
                    <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out fa-lg"></i> 退出</a></li>
                </ul>
            </li>
        </ul>
    </header>

    <div class="container tile" style="width: 85%; margin-top: 90px; height: 500px">
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/about}">机构概况</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/news}">新闻动态</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/announce}">公告</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/online}">自助服务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/topic}">交流互动</a>
            </li>
        </ul>

        <div class="container">
            <div class="tile" style="margin-top: 65px">
                <h3 class="tile-title">机构概况</h3>
                <p>垃圾分类在线查询平台是一个服务型平台, 致力于为不懂得准确将垃圾分类的人群提供查询, 交流服务。<p>
                <hr>
                <p>垃圾分类在线查询平台是国家设在南阳的垃圾分类查询平台，直属中华人民共和国卫生局，负责山东省河南南阳及下属区县自助服务业务。</p>

                <p>基本服务是由用户按垃圾名称查询, 按垃圾类别查询, 垃圾详细类别查询, 在线交流等组成, 为广大用户提供精准质优的服务</p>
            </div>
        </div>
    </div>

    <div class="footer container">
        <span>版权所有：2016级软件设计3班--许振奎</span>
        <br>
        <span>地址: 南阳市宛城区枣林街道南阳理工学院</span>
        <br>
        <span>Copyright@垃圾在线</span>
        <span><a href="http://www.miibeian.gov.cn" target="_blank">京IC备88888888号</a></span>
    </div>
    <script th:src="@{/jquery/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/popper/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap/tableExport.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap-table/bootstrap-table.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap-table/bootstrap-table-locale-all.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap-table/bootstrap-table-export.min.js}" type="text/javascript"></script>
    <script th:src="@{/sweetalert/sweetalert.min.js}" type="text/javascript"></script>

    <script th:src="@{/js/about.js}" type="text/javascript"></script>
</body>
